<div>
  <nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        [routerLink]="['/pokemons']"
        routerLinkActive="active"
        >Pokemon</a
      >
      <div class="text-white cursor-pointer" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/pokemons']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><i class="bi bi-controller"></i>
                Pokemons
              </a>
            </li>
            <li *ngIf="getUserRole() === 'Admin'" class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/users']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><i class="bi bi-controller"></i>
                Users
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/pokemons/add']"
                routerLinkActive="active"
                ><i class="bi bi-database-add"></i>
                Add pokemon
              </a>
            </li>
            <li *ngIf="getUserRole() === 'Admin'" class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/users/add']"
                routerLinkActive="active"
                ><i class="bi bi-database-add"></i>
                Add user
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/users/update']"
                routerLinkActive="active"
                ><i class="bi bi-recycle"></i>
                Update password
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
