<div class="container-fluid text-center mt-5">
  <div class="row justify-content-md-center">
    <div class="col-auto">
      <div class="card" style="width: 54rem">
        <div
          *ngIf="successMessage"
          class="alert alert-success m-1"
          role="alert"
        >
          User successfully updated !
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger m-1" role="alert">
          Error while updating user !
        </div>
        <div class="card-body">
          <form (ngSubmit)="save()" [formGroup]="userForm">
            <div class="mb-3">
              <label for="userPassword" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="userPassword"
                formControlName="password"
              />
            </div>
            <div class="mb-3">
              <label for="userConfirmPassword" class="form-label"
                >Confirm</label
              >
              <input
                type="password"
                class="form-control"
                id="userConfirmPassword"
                formControlName="confirm"
              />
            </div>
            <button
              type="submit"
              class="btn btn-dark w-100"
              [disabled]="userForm.invalid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
